
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --colorPrincipal: white;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    color: var( --colorPrincipal);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
h2{
    font-size: 30px;
}
/* header */
.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),url(https://i.postimg.cc/JhFLHHHb/fondo.png);
    background-position:center center;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

header nav{
    display: flex;

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
}

header nav ul li{
    position: relative;
    float: left;
}

.logo{
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: 10px;
}
#btnAdopcion{
    cursor: pointer;
}
.btn{

    font-size: 18px;
    display: block;
    font-weight: 600;
    padding: 0.5em;
    margin: 1em; 

}

.btn:hover{
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.3);
    transition: 1s;
}
.contenidoHeader{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
}

#btnAdopcion{
    border-color: white;
    border-style: solid;
    border-radius: 1em;
    border-width: 0.015em;
    display: inline-block;
}

#btnAdopcion:hover{
    transform: scale(1.05);
}

/*TERMINA HEADER*/

/*INICIA ADOPCION*/

.sectionAdopciones {
    background-color: #FFD580; /* Probar #FFABAB, #A8E6CF, #C3B1E1, #A8DADC */
    padding: 20px;
}

.sectionAdopciones h1 {
    color: black;
    font-size: 35px;
    margin-bottom: 20px;
}

.sectionAdopciones ul {
    text-transform: none;
    padding-left: 20px; 
}

.sectionAdopciones ul li {
    padding: 10px 2px 15px 0px;
    text-align: justify;
    color: black;
    list-style-type: none; 
    position: relative;
    margin-bottom: 10px; 
}

.sectionAdopciones ul li i {
    margin-right: 10px; 
    color: black;
}

.sectionAdopciones img {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 50%;
}

/*TERMINA ADOPCION*/

/*INICIA TESTIMONIOS*/

.testimonios .slide{
    text-align: center;
  }
  
.testimonios .slide p{
    font-size: 1.5rem;
    color: #777;
    position: relative;
    background: #f0fdfa;
    border:  0.1rem solid #0eb582;
    margin-bottom: 3rem;
    padding: 2rem;
}
  
.testimonios .slide p::before{
    content: '';
    position: absolute;
    bottom: -1.2rem; left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: #f0fdfa;
    border-bottom: 0.1rem solid #0eb582;
    border-right: 0.1rem solid #0eb582;
    height: 2rem;
    width: 2rem;
  }
  
.testimonios .slide img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }
  
  .testimonios .slide h3{
    font-size: 2.2rem;
    color: #444;
    padding: .5rem 0;
  }
  
  .testimonios .slide .stars{
    font-size: 1.2rem;
    color: #0eb582;
  }

/*TERMINA TESTIMONIOS*/


/*INICIA INTEGRANTES*/
.sectionIntegrante{
   
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.integrantes{
    display: grid;
    gap: 50px;
    padding: 20px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin: auto auto;
    width: 100%;
}
.integrante{
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

.integrante:hover{
    transform: scale(1.05);
    transition: 1s;
}
.integrante img{

    width: 250px;
    height: 200px;
}

.infoIntegrante{
    padding-top: 10px;
}
.infoIntegrante h4{
    font-size: 20px;
    padding-bottom: 10px;
}
.infoIntegrante p{
    padding-bottom:5px;
}

.infoIntegrante ul li i{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.socialIntegrantes{
    display: flex;
    margin: auto;
    justify-content:space-evenly;
    align-items: center;
}
/*TERMINA INTEGRANTES*/

/*INICIA FOOTER*/
footer{
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer p{
    font-size: 20px;
}
footer a img{
    width: 120px;
}

footer ul li{
    margin-bottom: 10px;
}

.redesPag{
    display: flex;
    justify-content:center;
    align-items: center;
}

.redesPag li i{
    
    margin-top: 10px;
    padding: 20px;
    font-size: 30px;
}